<button class="mt-20 sm:mt-12 mb-3 blue-button flex gap-2" (click)="addTask()">
  <lucide-icon name="plus"></lucide-icon>
  <span>{{ "tasks.addTaskBtn" | translate }}</span>
</button>

<section
  class="grid grid-cols-1 border-1 border-gray-400 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-5"
>
  <app-mini-task-by-category
    class="border-1 border-gray-400"
    [title]="'tasks.taskStates.CREATED' | translate"
    [state]="taskState.CREATED"
    [taskItems]="createdTaskItems()"
    (reloadTasks)="reloadTasks()"
  />

  <!-- -->
  <app-mini-task-by-category
    class="border-1 border-gray-400"
    [title]="'tasks.taskStates.STARTED' | translate"
    [state]="taskState.STARTED"
    [taskItems]="startedTaskItems()"
    (reloadTasks)="reloadTasks()"
  />
  <!-- -->
  <app-mini-task-by-category
    class="border-1 border-gray-400"
    [title]="'tasks.taskStates.PAUSED' | translate"
    [state]="taskState.PAUSED"
    [taskItems]="pausedTaskItems()"
    (reloadTasks)="reloadTasks()"
  />
  <!-- -->
  <app-mini-task-by-category
    class="hidden xl:block xl:border-1 xl:border-gray-400"
    [title]="'tasks.taskStates.CANCELED' | translate"
    [state]="taskState.CANCELED"
    [taskItems]="canceledTaskItems()"
    (reloadTasks)="reloadTasks()"
  />
  <!-- -->
  <app-mini-task-by-category
    class="border-1 border-gray-400"
    [title]="'tasks.taskStates.ENDED' | translate"
    [state]="taskState.ENDED"
    [taskItems]="endedTaskItems()"
    (reloadTasks)="reloadTasks()"
  />
</section>
