<div class="h-screen flex justify-center items-center">
  <form
    class="form w-fit"
    [formGroup]="newTaskForm"
    (ngSubmit)="submitNewTask()"
  >
    <section id="form-new-task-data">
      <div class="form-group">
        <label class="font-medium" for="name">
          {{ "newTask.form.name.title" | translate }}
        </label>
        <div class="form-input-group">
          <input
            class="input-field"
            type="text"
            id="name"
            formControlName="name"
            [placeholder]="'newTask.form.name.placeholder' | translate"
          />
          @if (formService.hasControlErrors(newTaskForm, 'name')) {
          <span class="form-input-error-msg">
            {{ formService.getFormControlErrors(newTaskForm, "name") }}
          </span>
          }
        </div>
      </div>

      <div class="form-group">
        <label class="font-medium" for="description">
          {{ "newTask.form.description.title" | translate }}
        </label>
        <div class="form-input-group">
          <textarea
            class="input-field"
            id="description"
            formControlName="description"
            [placeholder]="'newTask.form.description.placeholder' | translate"
            rows="4"
          >
          </textarea>

          @if (formService.hasControlErrors(newTaskForm, 'description')) {
          <span class="form-input-error-msg">
            {{ formService.getFormControlErrors(newTaskForm, "description") }}
          </span>
          }
        </div>
      </div>

      <div class="form-group">
        <button
          [disabled]="newTaskForm.invalid"
          class="w-full flex justify-center gap-2 blue-button"
          type="submit"
        >
          <lucide-icon name="save"></lucide-icon>
          {{ "newTask.addTaskBtn" | translate }}
        </button>
      </div>
    </section>
  </form>
</div>

@if (messageService.isModalShown()) {
<app-modal-user-feedback
  [modalType]="messageService.modalType()"
  [title]="messageService.modalTitle()"
  [description]="messageService.modalText()"
  (closeModal)="closeModal()"
/>
}
