<header
  class="fixed top-0 left-0 py-2 px-4 bg-sky-700 text-white font-bold w-full flex flex-wrap items-center justify-between"
>
  @if(this.headerService.isBackBtnShow) {
  <button id="backButton" (click)="this.headerService.navigateBack()">
    <lucide-icon name="arrow-left"></lucide-icon>
  </button>
  }

  <h1 class="flex-1 text-center">
    {{ headerTitle() }}
  </h1>
  <button id="logoutButton" (click)="logout()" class="flex gap-2 logout-button">
    <lucide-icon name="log-out"></lucide-icon>
    <span>{{ "logout" | translate }}</span>
  </button>
</header>
